<%- model_class = User.new.class -%>

<%= paginate @guests %>

<h1>Les invit&eacute;s</h1><p></p>
<%= form_tag admin_guests_path, method: :get do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Chercher", name: nil %>
  </p>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable :name %></th>
      <th><%= "Invité par" %></th>
      <th>Mairie</th>
      <th>Diner</th>
      <th>Chambre</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% for guest in @guests %>
      <tr>
        <td><%= guest.name %></td>
        <td><%= guest.invited_by ? guest.invited_by.name : "" %></td>
        <td><% if guest.at_mairie?%><i class="icon-ok"/><% end %></td>
        <td><% if guest.at_diner?%><i class="icon-ok"/><% end %></td>
        <td><% if guest.room %><%= guest.room.name %><% end %></td>
        <td>
          <% unless(guest.myself) %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_guest_path(guest),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


