<section class="container" id="mainPage">
	<% if current_user %>
			<div class="hero-unit">
				<div class="span2">
					<div class="thumbnail">
						<img src="https://graph.facebook.com/<%= current_user.uid %>/picture?type=normal" alt="">
					</div>
				</div>
				<h2>Bienvenue, <strong><%= current_user.first_name %></strong></h2>
				<p class="tagline">Merci de nous aider à préparer la soirée.</p>
				<p class="tagline"><a href="/songs">Vas sur le gestionnaire 'Musique' si tu souhaites danser sur des morceaux particuliers</a></p>
				<h4>Les liens</h4>
				<dl>
					<dt><a href="/songs">Playlist</a></dt>
					<dd>Pour entrer les titres que tu souhaites entendre au cours de la soirée<p></dd>
					<dt><a href="/upload">Uploader</a></dt>
					<dd>Si tu as des 'mp3' que tu souhaites nous envoyer...<p></dd>
				</dl>
			</div>
	<% else %>
	<div class="hero-unit">
		<h1>Chantal et Henri</h1>
		<p>
			Informations pratiques sur le mariage
		</p>
	</div>
  		<h2>Pour se connecter:</h2>
  		<p><strong>Utilises un des services ci-dessous:</strong></p>
		  <div class="auth_providers">
		    <a href="/auth/twitter" class="auth_provider">
		      <%= image_tag "twitter_64.png", size: "64x64", alt: "Twitter" %>
		      Twitter
		    </a>
		    <a href="/auth/facebook" class="auth_provider">
		      <%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %>
		      Facebook
		    </a>
		    <a href="/auth/google_oauth2" class="auth_provider">
			<%= image_tag "google_apps_64.png", size: "64x64", alt: "Google" %>
			Google
			</a>
		</div>
  <% end %>

</section>

