<div class="span12 columns">
<%- model_class = User.new.class -%>
<h2>
  Les utilisateurs
  <div class="btn-group">
    <%= link_to "Tous", toggle_users_url(0), :class => 'btn btn-primary', :disabled => @btn[0] %>
    <%= link_to "Non autorisés", toggle_users_url(1), :class => 'btn btn-primary', :disabled => @btn[1] %>
    <%= link_to "Autorisés", toggle_users_url(2), :class => 'btn btn-success', :disabled => @btn[2] %>
  </div>
</h2><p></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:provider) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th>Statut</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user) %></td>
        <td><%= user.name %></td>
        <td><%= user.provider %></td>
        <td><%= user.email %></td>
        <% if user.activated %>
        	<% if user.admin %>
        		<td><span class="label label-info">Administrateur</span></td>
        	<% else %>
        		<td><code>Actif</code></td>
        	<% end %>
        <% else %>
        	<% if user.is_a?(Guest)%>
        		<td><span class="label">invité</span></td>
        	<% else %>
        		<td>Non activé</td>
        	<% end %>
        <% end %>
        <td>
          <% unless user.is_a?(Guest) %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to t('.email', :default => t("helpers.links.email")),
                      new_user_email_path(user), :class => 'btn btn-mini' %>
          <% end %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_path(user),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

