<%- model_class = Song.new.class -%>

<%= paginate @songs %>

<h1>Ma playlist</h1><p></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:titre) %></th>
      <th><%= model_class.human_attribute_name(:artiste) %></th>
      <th>Catégories</th>
      <th>Ecouter</>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.id, song_path(song) %></td>
        <td><%= song.titre %></td>
        <td><%= song.artiste %></td>
        <td><%= (song.categories.map {|c| c.name}).join(", ") %></td>
        <td>
        <% if song.upload %>
        	<div id='mediaplayer_<%= song.id%>'></div>
			<script type="text/javascript">
				jwplayer('mediaplayer_<%= song.id %>').setup({
					'flashplayer': '/assets/jwplayer/player.swf',
					'id': 'playerID_<%=song.id %>',
					'width': '220',
					'height': '24',
					'file': '<%= song.s3_url %>',
 					'controlbar': 'bottom'
				});
			</script>
        <% end %>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_song_path(song), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      song_path(song),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_song_path,
            :class => 'btn btn-primary' %>
