<%- model_class = @song.class -%>
<h2>Détails du titre</h2>
<p>
  <strong><%= model_class.human_attribute_name(:titre) %>:</strong><br>
  <%= @song.titre %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:artiste) %>:</strong><br>
  <%= @song.artiste %>
</p>

<p>
  <strong><%= model_class.human_attribute_name(:categories) %>:</strong><br>
  <%= @song.category_list %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:url) %>:</strong><br>
  <%= @song.url %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              songs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_song_path(@song), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              song_path(@song),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
