<%= form_for @guest, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label "Nom", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Hebergement", :class => 'control-label' %>
    <div class="controls">
    	<%= f.select("room_id", current_user.rooms.available.collect {|p| [ p.full_name, p.id ] }, {:include_blank => 'None'})%>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                guests_path, :class => 'btn' %>
  </div>
<% end %>
