<%- model_class = Room.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= "Numéro" %></th>
      <th><%= "Réservation" %></th>
      <th><%= "Référence "%></th>
      <th><%= model_class.human_attribute_name(:places) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.number %></td>
        <td><%= room.user.name %></td>
        <td><%= link_to room.name, room_path(room) %></td>
        <td><%= room.places %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_room_path(room), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Imprimer la liste par chambre (PDF)", rooms_path(format: "pdf") %></p>
<p><%= link_to "Imprimer la liste par invites (PDF)", rooms_path(format: "pdf", alt: true) %></p>

