<%= form_for @statut, :html => { :class => 'form-horizontal' } do |f| %>

  <p><a href="/guests">vas sur <b>'Mes invit&eacute;s'</b> pour nous informer des personnes avec lesquelles tu viens</a></p>
  <p><b>D&eacute;tails de ta r&eacute;servation:</b></p>
  <table class="table table-bordered table-striped">
  	<thead>
  	  <tr>
  		<td><%= f.label "Chambre simple (#{Room::Single::PLACES} places)" %></td>
  		<td><%= f.label "Chambre double (#{Room::Double::PLACES} places)" %></td>
  	  </tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td><%= f.number_field :chambre, :class => 'number_field' %></td>
  			<td><%= f.number_field :chambre2, :class => 'number_field' %></td>
  		</tr>
  	</tbody>
  </table>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                statut_path, :class => 'btn' %>
  </div>
<% end %>
