<%- model_class = @statut.class -%>
<h2><%=t '.title', :default => "Ta participation:" %></h2>
<p>Cliques sur <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_statut_path(@statut) %> pour changer les valeurs</p>
<p>
<p><h3><%= @statut.user.name%></h3></p>
<table class="table table-bordered table-striped">
	<tr>
		<th>Nombre de personnes à la mairie</th>
		<td><%= @statut.mairie %></td>
	</tr>
	<tr>
		<th>Nombre de personnes à la soirée</th>
		<td><%= @statut.diner %></td>
	</tr>
	<tr>
		<th>Nombre de chambres simples sollicitées</th>
		<td><%= @statut.chambre %></td>
	</tr>
	<tr>
		<th>Nombre de chambres simples confirmées</th>
		<td><%= @statut.user.singles.count %></td>
	</tr>
	<tr>
		<th>Nombre de chambres doubles sollicitées</th>
		<td><%= @statut.chambre2 %></td>
	</tr>
	<tr>
		<th>Nombre de chambres doubles confirmées</th>
		<td><%= @statut.user.doubles.count %></td>
	</tr>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              root_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_statut_path(@statut), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              statut_path(@statut),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
