<%- model_class = Upload.new.class -%>

<%= paginate @uploads %>

<h2>Tous <%= @who.nil? ? "mes" : @who %> MP3s</h2><p></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:titre) %></th>
      <th><%= model_class.human_attribute_name(:artiste) %></th>
      <th>Catégories</th>
      <th>Ecouter</th>
    </tr>
  </thead>
  <tbody>
    <% @uploads.each do |ul| %>
      <tr>
        <td><%= link_to ul.id, upload_path(ul) %></td>
        <td><%= ul.titre %></td>
        <td><%= ul.artiste %></td>
        <td><%= (ul.categories.map {|c| c.name}).join(", ") %></td>
        <td>
        <div id='mediaplayer_<%= ul.id%>'></div>
			<script type="text/javascript">
				jwplayer('mediaplayer_<%= ul.id %>').setup({
					'flashplayer': '/assets/jwplayer/player.swf',
					'id': 'playerID_<%=ul.id %>',
					'width': '280',
					'height': '24',
					'file': '<%= ul.s3_url %>',
 					'controlbar': 'bottom'
				});
		</script>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
