<%- model_class = @ul.class -%>
<h2>Détails du titre</h2>
<p>
  <strong><%= model_class.human_attribute_name(:titre) %>:</strong><br>
  <%= @ul.titre %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:artiste) %>:</strong><br>
  <%= @ul.artiste %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:categories) %>:</strong><br>
  <%= @ul.category_list %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:url) %>:</strong><br>
  <a href='<%= @ul.s3_url %>'>Télécharger</a>
</p>
<p>
  <div id='mediaplayer_<%= @ul.id%>'></div>
  <script type="text/javascript">
				jwplayer('mediaplayer_<%= @ul.id %>').setup({
					'flashplayer': '/assets/jwplayer/player.swf',
					'id': 'playerID_<%=@ul.id %>',
					'width': '280',
					'height': '96',
					'file': '<%= @ul.s3_url %>',
    'author': '<%= @ul.artiste %>',
    'description': '<%= "Artiste: "+@ul.artiste if @ul.artiste %>\n<%= "Uploaded by: "+@ul.added_by.name if @ul.added_by %>',
//    'image': 'http://www.longtailvideo.com/jw/upload/bunny.jpg',
    'title': '<%= @ul.titre %>',
    'playlistsize': '2',
//    'skin': 'http://developer.longtailvideo.com/svn/skins/beelden/beelden.zip',
    'playlist': 'over',
    'controlbar': 'bottom'
				});
  </script>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_upload_path(@ul), :class => 'btn' %>
          <% if current_user.admin %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              upload_path(@song),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
          <% end %>
</div>
