<%= form_for @liste_mariage, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :article, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :article, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :taken, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :taken, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :taken_by_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :taken_by_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                liste_mariages_path, :class => 'btn' %>
  </div>
<% end %>
