<%- model_class = @liste_mariage.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:article) %>:</strong><br>
  <%= @liste_mariage.article %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:taken) %>:</strong><br>
  <%= @liste_mariage.taken %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:taken_by_id) %>:</strong><br>
  <%= @liste_mariage.taken_by_id %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              liste_mariages_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_liste_mariage_path(@liste_mariage), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              liste_mariage_path(@liste_mariage),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
