<%- model_class = @info.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:subject) %>:</strong><br>
  <%= @info.subject %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:text) %>:</strong><br>
  <%= @info.text %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:author_id) %>:</strong><br>
  <%= @info.author.name if @info.author %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              infos_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_info_path(@info), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              info_path(@info),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
