<!DOCTYPE html>
<html>
	<head>
		<title>Chantal et Henri</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="container-fluid">
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
						<a class="brand" href="#">Chantal et Henri</a>
						<% if current_user %>
						<div class="btn-group pull-right">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon-user"></i> <%= current_user.name %> <span class="caret"></span> </a>
							<ul class="dropdown-menu">
								<li>
									<%= link_to "Déconnection", logout_path %>
								</li>
							</ul>
						</div>
						<% end %>
						<div class="nav-collapse">
							<ul class="nav">
								<li class="active">
									<a href="/">Home</a>
								</li>
								<% if current_user%>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Musique<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li class="nav-header">Playlist</li>
										<li><a href="/songs">Ma playlist</a></li>
										<li><a href="/songs/all">Tous les morceaux</a></li>
										<li class="divider"></li>
										<li class="nav-header">Uploads</li>
										<li><a href="/uploads">Mes MP3s</a></li>
										<li><a href="/uploads/all">Tous les MP3s</a></li>
										<li><a href="/uploads/new">Envoyer un MP3</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Ma pr&eacute;sence<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="/statut">Ma r&eacute;servation</a></li>
										<li><a href="/guests">Mes invit&eacute;s</a></li>
									</ul>
								</li>
								<% if current_user.admin %>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="/users">Utilisateurs</a></li>
											<li><a href="/admin/guests">Invit&eacute;s</a></li>
											<li><a href="/statuts">Liste de Pr&eacute;sence</a></li>
											<li><a href="/infos">Gestion des news</a></li>
											<li><a href="/emails">Liste des emails</a></li>
										</ul>
									</li>
									<% end %>
								<% end %> 
								<li>
									<a href="#contact">Contact</a>
								</li>
							</ul>
						</div><!--/.nav-collapse -->
					</div>
				</div>
			</div>
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        	<a class="close" data-dismiss="alert">x</a>
        	<h4 class="alert-heading">Enregistrement</h4>
         	<%= msg %>
        </div>
      <% end %>
			<% if current_user %>
				<div class="span3">
					
					<div id="img_holder" class="row">
						<img src="/assets/ch1_240x180.jpg" alt="" />
					</div>
					
					<div class="row well">
						<h3>Les infos...</h3><br>
						<% Info.all.each do |info| %>
							<strong><%= info.subject %></strong>
							<blockquote>
								<%= info.text %>
								<small><%= info.created_at %></small>
							</blockquote>
						<% end %>
					</div>

				</div>
				<div class="span9">
					<%= yield %>
				</div>
			<% else %>
			<%= yield %>
			<% end %>
		</div>
	</body>
</html>
